*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.menu{
    background-color: brown;
    height: 70px;
    width: 100%;
}
.container{
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    margin: 5px;
    height: 100%;
    overflow: auto;
    min-height: 0;
}

.sale-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(90px, 0.7fr) minmax(120px, 1.2fr) minmax(120px, 0.7fr);
    width: 100%;
    height: 92.7vh;
    min-height: 0;
    padding: 30px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 12px;
    height: 100%;
    justify-items: center;
}

.desk{
    width: 120px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desk img{
    width: 100px;
    height: 90px;
}

.desk-available{
    background: #4815ff7b;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search input{
    width: 90%;
    height: 50px;
    margin: 20px;
}

.categories{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 20px
}
.categories button{
    border: 0.5px solid rgba(128, 128, 128, 0.522);
    border-radius: 4px;
    padding: 5px;
    font-size: 15px
}
.categories button.active {
    background: #4815ff;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 6px rgba(72, 21, 255, 0.6);
}


.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150px;
}

.product img{
    height:100px;
    width:120px;
}

.sale-resume{
    padding: 20px;
}

.sale-items{
    min-height: 0;
    height: 80%;
    border-bottom: 0.5px solid black;
}

.total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sale-options{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-items: center;
}

.sale-options button{
    width: 130px;
    height: 50px;
    padding: 0 10px 0 0;
}
